<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>类式继承3.1.2</title>
	<script type="text/javascript">
       /*
       var arr=[1,2,3];
       console.log(arr.join());
       console.log(arr.join("_"));

       function repeatString(str,n){
        return Array(n+1).join(str);
       }
       console.log(repeatString("a",3));
       console.log(repeatString("hi",3));
       */
       //js中的数组排序默认是以字母排序
       /*
       var arr=["e","d","c","b"];

       console.log(arr.sort());

       console.log(arr);//原来数组被修改
       */
       /*var  arr=[13,24,51,3];
       console.log(arr.sort());
       //即使数组中是数字,也会按照字符的数字的第一个数字去排序
       // console.log(arr.sort(function(a,b){
       // 	    return a-b;
       // }));
       function so(a,b){
           return a-b;
       }
       console.log(arr.sort(so));
       */
        
       function contains
	</script>
</head>
<body>

  <div>打撒</div>
	
</body>
</html>