<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>静态方法2.24</title>
	<script type="text/javascript">
       //静态方法的实质于其他任何函数没有什么不同
       //创建一个对象
       /*
       function User(){
          this.name="张三";
          this.age=23;
       }
       //添加一个静态方法
       User.cloneUser=function(){
           console.log("这是User的静态方法");
       }
       console.log(User.cloneUser());//调用静态方法
       //静态方法无需实例化,就可以直接调用
       //想创建一个静态方法,只需要给类直接添加方法就行

       function Foo(){

       }
       //创建多个静态方法
       Foo.test=function(){
            console.log("test静态方法");
       };
       Foo.show=function(){
            console.log("show静态方法");
       }
       Foo.test();//调用静态test方法
       Foo.show()//调用静态方法show
       // var foo=new Foo();
       // console.log(foo);//一个空对象
       */

       

	</script>
</head>
<body>
	
</body>
</html>